@use "../global/" as *;
.testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-bottom: 6.4rem;
  }
  &__box {
    // width: 80%;
    padding: 0rem 16rem;
    gap: 6.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 1300px) {
      gap: 3rem;
    }
    @media (max-width: 1200px) {
      gap: 2.8rem;
    }
    @media (max-width: 1000px) {
      padding: 0rem 10rem;
      gap: 2.4rem;
    }
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 430px) {
      grid-template-columns: 1fr;
      padding: 0rem 6rem;
      gap: 2.4rem;
    }
  }
  &__image {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0rem 2rem;
    & img {
      width: 100%;
      @media (max-width: 800px) {
        width: 60%;
      }
      @media (max-width: 600px) {
        width: 65%;
      }
      @media (max-width: 500px) {
        width: 95%;
      }
      @media (max-width: 430px) {
        width: 100%;
      }
    }
  }

  &__text {
    & .heading--h5 {
      // margin: 4.4rem 0;

      margin-bottom: 4.4rem;
      font-size: 2rem;
      @media (max-width: 1200px) {
        margin-bottom: 2.4rem;
        font-size: 1.8rem;
      }
      @media (max-width: 600px) {
      }
    }
    & .heading--h4 {
      margin-bottom: 1.4rem;
      font-size: 3rem;
      @media (max-width: 1200px) {
        font-size: 2rem;
      }
      @media (max-width: 1100px) {
        font-size: 1.6rem;
      }
      @media (max-width: 800px) {
        margin-bottom: 0.8rem;
      }
    }
  }
  &__rating {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;

    & .p__rating {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 1100px) {
        font-size: 1.6rem;
      }
    }
  }
}
